In [6]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd

import pandas as pd
import numpy as np
import scipy as sp
import math
from datetime import date
from datetime import datetime

import matplotlib as mpl
import matplotlib.pyplot as plt

In [8]:
data = pd.read_excel('FNCL 5.5.xlsx')
data=data.dropna(axis=0, how='any')
data.head() # sample of dataset

date=data["Date"]
data["DDate"]=pd.to_datetime(date)
data['Year'] = data['DDate'].dt.year
data.head()

        Date  PX_LAST  PX_MID    FNCL 5.5  Unnamed: 4      DDate  Year
1 2017-06-16     3.80    3.80  111.109375        2.27 2017-06-16  2017
2 2017-06-09     3.83    3.83  111.296875        2.22 2017-06-09  2017
3 2017-06-02     3.76    3.76  111.390625        2.20 2017-06-02  2017
4 2017-05-26     3.81    3.81  111.328125        2.22 2017-05-26  2017
5 2017-05-19     3.85    3.85  111.359375        2.21 2017-05-19  2017

In [14]:
def printFormular2(x,y,z,coef):
    order = len(coef)-1
    formula='y = '+str(coef[order])
    if order > 1:
        for n in np.arange(order-1,-1,-1):
            formula += (' + ' if coef[n]>0 else ' ') + str(coef[n])+'x^'+str(order-n)+' '
    print(formula)     
    print('R square is ',1-np.sum((z-y)**2)/np.sum((y-np.mean(y))**2))

In [13]:
x=data["PX_MID"]
y=data["FNCL 5.5"]
labels = data['Year']
df = pd.DataFrame(dict(x=x, y=y, label=labels))

groups = df.groupby('label')

# Plot
plt.rcParams.update(pd.tools.plotting.mpl_stylesheet)
colors = pd.tools.plotting._get_standard_colors(len(groups), color_type='random')

fig, ax = plt.subplots(figsize=(16, 12))
ax.set_color_cycle(colors)
ax.margins(0.05)
for name, group in groups:
    ax.plot(group.x, group.y, marker='o', linestyle='', ms=3, label=name)
ax.legend(numpoints=1)

plt.show()

AttributeError: module 'pandas.tools.plotting' has no attribute 'mpl_stylesheet'

# Simple linear

# Polynomial - 3, 4 order

# Exponential

# Rolling window with volatility

# Economic background and explanation, and add the economic factor in kalman filter